@import '../styles.css';

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--bg-secondary);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--border-secondary);
}

.headerContainer {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 68px;
}

.navButton {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
     justify-content: space-between;
}

.logoText {
    color: var(--primary);
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s;
    font-family: var(--font-heading);
}

.logoText:hover {
    transform: translateY(-2px);
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 32px;
    font-family: var(--font-heading);
}

.navLink {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    padding: 8px 12px;
    transition: all 0.3s;
    font-size: 1rem;
}

.navLink:hover {
    
    color: var(--tertiary);
}

.loginNavButton{
    border-left: 2px solid var(--border-secondary);
    padding-left:20px;
}
